# SVM (Support Vector Machine) Classifier

In [1]:
import os
import pandas as pd
import sklearn.svm as svm
import joblib

## Loading the training data

In [2]:
df_train = pd.read_pickle("./pickled_data/df_train.pkl")
df_train

                                               img_data label
0     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     1
1     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     1
2     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     1
3     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     1
4     [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     1
...                                                 ...   ...
3995  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 255, 0, 0, ...     0
3996  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     0
3997  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     0
3998  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     0
3999  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...     0

[4000 rows x 2 columns]

## Flattening the image data

In [3]:
df_train["img_data"] = df_train["img_data"].apply(lambda x: x.flatten())
df_train

                                               img_data label
0     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     1
1     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     1
2     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     1
3     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     1
4     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     1
...                                                 ...   ...
3995  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 255, 0, 0, 0...     0
3996  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     0
3997  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     0
3998  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     0
3999  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...     0

[4000 rows x 2 columns]

## Fitting the SVM model

C = 1.0, kernel = 'linear'

In [4]:
# Initialize the SVM model parameters
svm_model = svm.SVC(kernel="linear", C=1)
img_data = df_train["img_data"].tolist()
label = df_train["label"].tolist()

In [5]:
# Take the start time
import time
start_time = time.time()

# Fit the model 
svm_model.fit(img_data, label)

# Take the end time
end_time = time.time()

# Print Results including the time taken to train the model
print(f"Time taken to train the model: {end_time - start_time} seconds")
print(svm_model)

Time taken to train the model: 422.59547781944275 seconds
SVC(C=1, kernel='linear')

## Saving the model

In [6]:
# Create exported_models directory
os.makedirs("./exported_models", exist_ok=True)
# Save the svm model
joblib.dump(svm_model, "./exported_models/svm_model_(a).pkl", compress=5)
print("SVM Model Variant (a) Saved Successfully!")

SVM Model Variant (a) Saved Successfully!